.img {
    width: 70%;
    margin-top: 25%;
}

.buto {
    border: 2px solid #FA6660;
    border-radius: 25px;
    padding: 2%;
    background-color: #FA6660;
    color: white;
    font-family: Verdana;
    box-shadow: 5px 5px 10px black;
    margin-top: 5%;
}

.sli {
    margin-top: 20%;
}