#nameAndPrice {
  display: flex;
}

#articuloName {
  width: 75%;
  text-align: start;
}

#articuloDescription {
  text-align: start;
  height: 40%;
}

#articuloPrice {
  width: 25%;
  font-weight: 400;
  text-align: end;
}

#articuloDescription h3 {
  margin-bottom: 0%;
}

#articuloDescription h4 {
  margin-top: 0%;
}

.otherArticulo {
  display: flex;
}

.otherArticulo h3{
  margin-top: 0%;
  margin-bottom: 0%;
}

.otherArticuloData {
  font-weight: 400;
  margin-left: 0.5em;
}
