#unidades {
    display: flex;
    height: 2.5em;
    width: 100%;
}

#unidades input {
    height: 2.2em;
    margin-top: 2em;
    width: 60%;
    border-radius: 10px;
    border-bottom: 1px solid rgba(14, 28, 46, 1);
    background-color: rgba(241, 232, 223, 1);
    text-align: end;
}

/* .pedido {
    border-bottom: solid;
    border-color:#D6D6D6 ;
    margin-top: 1%;
} */