body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: xx-large;
  font-weight: 700;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: xx-large;
  font-weight: 400;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: larger;
  font-weight: 700;
}

h4 {
  font-family: 'Noto Sans', sans-serif;
  font-size: larger;
  font-weight: 400;
}

input {
  font-family: 'Noto Sans', sans-serif;
}

button {
  font-family: 'Noto Sans', sans-serif;
}

b {
  font-family: 'Noto Sans', sans-serif;
}