#registerHeader {
    display: flex;
    height: 25vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#registerHeader img {
    height: 30%;
}

#registerContent {
    display: flex;
    flex-direction: column;
    height: 75vh;
    align-items: center;
    background-color: rgba(14, 28, 46, 1);
    overflow: auto;
}

#formContainer {
    width: 75%;
}

#registerContent h3 {
    color: rgba(111, 183, 76, 1);
    margin-top: 3em;
    margin-bottom: 3em;
}

.formGroup {
    margin-bottom: 3em;
}

.registerLabel {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0.5em;
}

.registerInput {
    color: rgba(0, 0, 0, 1);
    width: 99%;
    height: 3em;
    border-radius: 10px;
    border: 0px;
    background-color: rgba(241, 232, 223, 1);
}

#back {
    display: flex;
    justify-content: end;
}

#register {
    display: flex;
    justify-content: start;
}

.registerButton {
    background-color: rgba(111, 183, 76, 1);
    border-radius: 10px;
    border: 0px;
    width: 10em;
    height: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

/* .tittle {
    font-family: Verdana;
    text-shadow: 2px 2px 4px #000000;
}

.subtittle  {
    margin-top: 15%;
    margin-bottom: 15%;
    font-family: Verdana;
    text-shadow: 2px 2px 4px #000000;
}

.input1 {
    border: 2px solid #D6D6D6;
    border-radius: 25px;
    width: 75%;
    font-family: Verdana;
    box-shadow: 5px 5px 10px black;
    
}

.but {
    border: 2px solid #FA6660;
    border-radius: 25px;
    padding: 2%;
    background-color: #FA6660;
    color: white;
    font-family: Verdana;
    box-shadow: 5px 5px 10px black;
    margin-top: 2%;
}

.lab {
    margin-bottom: 7%;
    color: #FA6660;
} */